URxvt.font: xft:DejaVu Sans Mono:size=9
URxvt.scrollBar: false
URxvt.transparency: true
URxvt.shading: 25

!https://xcolors.herokuapp.com/

*.foreground: #A6B5C5
*.background: #141A1F
*.cursorColor: #A6B5C5
*.color0:  #141A1F
*.color1:  #EC5252
*.color2:  #5DA713
*.color3:  #C97016
*.color4:  #3890E9
*.color5:  #A359ED
*.color6:  #13AFAF
*.color7:  #6B859E
*.color8:  #1A2128
*.color9:  #FF9191
*.color10: #9ACD68
*.color11: #EDA55D
*.color12: #7DBEFF
*.color13: #CB96FF
*.color14: #6ECFCF
*.color15: #A6B5C5

!*.foreground:   #e4f0fb
!*.background:   #242938
!*.cursorColor:  #27e8a7
!*.color0:       #1d212f
!*.color8:       #506477
!*.color1:       #27e8a7
!*.color9:       #27e8a7
!*.color2:       #27e8a7
!*.color10:      #27e8a7
!*.color3:       #27e8a7
!*.color11:      #27e8a7
!*.color4:       #91b4d5
!*.color12:      #91b4d5
!*.color5:       #80cbc4
!*.color13:      #80cbc4
!*.color6:       #80cbc4
!*.color14:      #80cbc4
!*.color7:       #506477
!*.color15:      #e4f0fb

!*.foreground:   #fffce9
!*.background:   #020002
!*.cursorColor:  #fffce9
!*.color0:       #020002
!*.color8:       #220211
!*.color1:       #b52f6a
!*.color9:       #ff7c87
!*.color2:       #6c60aa
!*.color10:      #aa96dd
!*.color3:       #a68189
!*.color11:      #ff9d80
!*.color4:       #ac428a
!*.color12:      #a94f8f
!*.color5:       #610064
!*.color13:      #b080b2
!*.color6:       #252b4f
!*.color14:      #9295a7
!*.color7:       #feeeca
!*.color15:      #fffce9
